<web-app>
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>FirstSrv1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>SecondSrv2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>
</web-app>